
body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foto{
    width:150px;
 
}

.card{
 width: 400px;
 margin: 0 auto; 
 padding: 20px;
 display: flex;
 justify-content: space-around;
 text-align: center;
 background-color:#ddebf8 ;
 color:#2b2839;
 text-shadow: 2px 2px 5px rgb(66, 60, 60);
 border-bottom:10px solid #d8cefe ;
}

